<script setup lang="ts">
import NumberButtonVue from '@/components/NumberButton.vue'
import{ ref } from 'vue'
const num1 = ref(0)
function num1Click(num: number){
  console.log('Num1 Click: '+ num)
  num1.value = num
}
</script>

<template>
  <div style="text-align: center;"><img  style="width: 300px; border-radius: 50%;" src="../assets/duck.png" alt=""/>
  <h3>สวัสดีชาวโลก เราชื่อฐิติชญานะ</h3>
  {{ num1 }}<NumberButtonVue :num="1" @numclick="num1Click"/>
  <NumberButtonVue :num="2"/>
  <NumberButtonVue :num="3" :inc="5"/>
  </div>
</template>
